#root {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  padding: 2rem;
  --dark-background: #111b1b;
  --element-background: #112e2e;
  --button-background: #1b4b4b;
  --button-text: #ace4dd;
  --button-text-light: #D3EEEB;
}

.nav-bar {
  display: flex;
  margin-bottom: 1rem;
}

.nav-bar-sub {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-bar-sub.volume {
  align-items: flex-end;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.body-container {
  overflow: auto;
  height: 750px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0px 12px;
}

.icon-wrapper:hover {
  filter: brightness(0.65);
}

button,
.input-button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-right: 0.6em;
  transition: border-color 0.25s;
}

button:hover,
.input-button:hover {
  border-color: var(--button-text);
}

button:focus,
button:focus-visible,
.input-button:focus,
.input-button:focus-visible,
.selected {
  outline: 4px auto -webkit-focus-ring-color;
}

.inner-content-container {
  display: flex;
  flex-direction: column;
}

button,
.input-button,
.column-item {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  cursor: pointer;
}

button.activated {
  outline: 4px auto -webkit-focus-ring-color;
  background: #062121;
}

.column-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0.4em;
  padding: 0 0.8em;
}

.title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  padding-right: 0.5em;
}

.playlist-tag {
  margin-left: 16px;
  background: #166b50;
  padding: 2px 8px;
  border-radius: 8px;
}

.nav-bar-sub>*>* {
  padding-left: 0.5em;
}
